<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-input type="text" [(ngModel)]="search" color="primary"></ion-input>
  <ion-button (click)="searching()" color="secundary">Procurar</ion-button>


  <div class="container" *ngIf="albumBy">
    <ol *ngIf="music.length != 0">
      <h4 class="alignItens">Musicas <ion-icon name="chevron-forward-outline"></ion-icon></h4>
      <li *ngFor="let music of music; index as i; trackBy: identify">
        <ion-thumbnail slot="end">
          <ion-img  src={{music.album.cover_small}}></ion-img>
        </ion-thumbnail>
        <ion-label class="label">
          {{ music.title}}
          <p>Por {{ music.artist.name}} - {{ music.album.title}}</p>
        </ion-label>

      </li>
      <ion-button *ngIf="musicBy" (click)="searchingByAll()" color="danger">Ver mais...</ion-button>

    </ol>
  </div>

  <div class="container" *ngIf="musicBy">
    <ol *ngIf="music.length != 0">
      <h4 class="alignItens">Albuns <ion-icon name="chevron-forward-outline"></ion-icon></h4>
      <li *ngFor="let music of music; index as i; trackBy: identify">
        <ion-thumbnail slot="end">
          <ion-img  src={{music.album.cover_small}}></ion-img>
        </ion-thumbnail>
        <ion-label class="label">
          {{ music.album.title}}
          <p>{{ music.artist.name}}</p>
        </ion-label>

      </li>
    </ol>
  </div>

</ion-content>